@model PasswordRecoveryConfirmModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <div class="bs_title_black title_bg_white bs_text_center bs_margin_b_mid">
        <h4>@T("Account.PasswordRecovery")</h4>
    </div>
    <div class="page-body">

        <div class="bs_change_password_box">
            @if (!string.IsNullOrEmpty(Model.Result))
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            @if (!Model.DisablePasswordChanging)
            {
                <form asp-route="PasswordRecoveryConfirm" asp-route-token="@Context.Request.Query["token"]" asp-route-guid="@Context.Request.Query["guid"]" method="post" autocomplete="off">
                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    <div class="">
                        <div class="bs_input_field">
                            <label class="bs_text_label" asp-for="NewPassword"></label>
                            <div class="bs_input_area">
                                <input placeholder="New Password" asp-for="NewPassword" />
                                <nop-required />
                            </div>
                            <span asp-validation-for="NewPassword"></span>
                        </div>
                        <div class="bs_input_field">
                            <label class="bs_text_label" asp-for="ConfirmNewPassword"></label>
                            <div class="bs_input_area">
                                <input placeholder="Confirm New Password" asp-for="ConfirmNewPassword" />
                                <nop-required />
                            </div>
                            <span asp-validation-for="ConfirmNewPassword"></span>
                        </div>
                    </div>
                    <div class="buttons">
                        <input type="submit" name="set-password" class="bs_primary_button new-password-button" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
                    </div>
                </form>
            }
        </div>
    </div>
</div>